.table{
    color: black;
    background-color: black;
    

}

#bor{
    color: black;
}

#bor1{
    color: black;
}

#bor2{
    color: black;
}

#bor3{
    color: black;
}

.admission{

    background-color: rgb(66, 236, 227);
    position:relative;
    width: 1500px;
    height:350;
    overflow:hidden;
    margin-bottom: 20px;
    border-radius: 8px;
    
}