.homepage{
    background-color: rgb(66, 236, 227);
    position:relative;
    width: 1500px;
    height:350;
    overflow:hidden;
    margin-bottom: 20px;
    border-radius: 8px;
    
}
h1{
    text-align: center;
    color: rgb(229, 229, 235);
}

h3{
    text-align: center;
}
h2{
    color: black;
}
p{
    color: rgba(72, 67, 67, 0.96);
}
li{
    color:rgba(72, 67, 67, 0.96);
}

#ee{
    text-align: center;
    color: white;
    background-color:green ;
}

.btn{
    color:white;
    background-color:rgb(75, 173, 22);
    padding: 10px;

}

.head2{
    background-color: aliceblue;
    width: 80%;
    line-height: 1.5;
    padding: 20px;
    margin: 15px auto;

}
.ready{
    text-align: center;
}

#cd{
    justify-content: center;
    background:green;
    color:white;
    margin-left: 45%;
}

.welcome{
    color:rgb(51, 161, 154);
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}